.footer {
  justify-content: space-around;
  max-width: 1600px;
  height: 205px;
  background: #f16353;
  display: flex;
  align-items: center;
}
.footer p {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #f8f9fa;
}
